@model System.Linq.IQueryable<Dunfoss.Models.Letter>
    @{ 
        string[] monts = new string[] { "Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь" };
    }
@foreach (Dunfoss.Models.Letter letter in Model)
{
    <div class="remove">
        @using (Ajax.BeginForm("Remove", "Letter", new { id = letter.Id }, new AjaxOptions { UpdateTargetId = "letters-list-div" }))
                {
            <input type="submit" value="" />
        }
        <a href="~/Letter/GetLetterById/?id=@letter.Id">@letter.Division - @monts[letter.month-1] (@letter.Date.Day<span>.</span>@letter.Date.Month<span>.</span>@letter.Date.Year)</a>
    </div>
    
}

<style>
    .remove a {
        margin-left: 10px;
    }

    .remove input {
        margin-top: 3px;
        border: none;
        background-image: url("/Images/rem.png");
        background-color: transparent;
        float: left;
        width: 15px;
        height: 15px;
    }
</style>