@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Dunfoss.Models.Report
<h4 style="text-align: center;">@Resource.ReportTitle W<span>@Model.from</span>-W<span>@Model.to</span></h4>
<h4 style="text-align: center;">@Resource.DateSobr: @Model.Date.Day<span>.</span>@Model.Date.Month<span>.</span>@Model.Date.Year</h4>
<div id="report-list">
    <img src="@Model.image1"/>
    <img src="@Model.image2"/>
    <img src="@Model.image3" />
    <img src="@Model.image4"/>
    <img src="@Model.image5"/>
    <img src="@Model.image6"/>
    <img src="@Model.image7"/>
    <img src="@Model.image72" />
</div>