<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
@{
    ViewBag.Title = "Report";
}

<div class="chart-options">
    @using (Ajax.BeginForm("Formatting", "Report", new AjaxOptions { UpdateTargetId = "chart-draw", OnBegin = "ShowLoad" }))
    {
        <div id="WeekFilter" class="option-chart-filter">
            <span class="chart-options-opt">@Resource.FilterWeek: @Resource.From</span><input type="number" value="1" max="52" min="1" name="min" />
            <span>@Resource.To</span><input type="number" value="52" max="52" min="1" name="max" />
            <br />
        </div>
        <div id="Division" class="option-chart-filter" style="display: none;">
            <span>Дивизионы :</span>
            <select id="division" name="division">
                <option>@Resource.All</option>
                <option>@Resource.South</option>
                <option>@Resource.FEast</option>
                <option>@Resource.WestSib</option>
                <option>@Resource.Northwest</option>
                <option>@Resource.Ural</option>
                <option>@Resource.Moscow</option>
                <option>@Resource.Volga</option>
                <option>@Resource.Center</option>
            </select>
            <br />
        </div>
        <span>@Resource.DateMeeting: </span><input type="date" name="date" value="2017-12-13" />
        <div class="chart-options-submit"><input type="submit" value="@Resource.CreateBtn" /></div>
    }

</div>
<div style="margin: auto; display: none; float: none; margin-top: 10px;" class="circularGh" id="circularG1">
    <div id="circularG_1" class="circularG"></div>
    <div id="circularG_2" class="circularG"></div>
    <div id="circularG_3" class="circularG"></div>
    <div id="circularG_4" class="circularG"></div>
    <div id="circularG_5" class="circularG"></div>
    <div id="circularG_6" class="circularG"></div>
    <div id="circularG_7" class="circularG"></div>
    <div id="circularG_8" class="circularG"></div>
</div>
<div id="chart-draw" class="chart-draw">

</div>

<script type="text/javascript">
    function ShowLoad() {
        $("#circularG1").show();
    }
</script>